$cn: rgba(0, 0, 0, 0);
$el: #bee0e0;
$er: #c4dff0;
$eb: #a4d4f2;
$ef: #532727;
$ew: 640px;
$eh: 420px;

.Wrapper {
  position: absolute;
  z-index: 99;
  width: 100%;

  .SignIn {
    position: fixed;
    width: 5%;
    float: right;
    right: 2%;
    opacity: 1;
    cursor: pointer;
    bottom: 2%;
    filter: drop-shadow(0px 5px 6px black);
    &.active {
      opacity: 0;
    }
  }
  .Popup {
    cursor: pointer;
    z-index: 3;
    .Overlay {
      position: fixed;
      z-index: 100;
      width: 100vw;
      height: 110vh;
      margin-top: -5%;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(49, 49, 49, 0.8);
      z-index: 10;
    }
    .popupContainer {
      .Envelope {
        cursor: default;
        width: 55%;
        height: $eh;
        background: $el;
        left: 25%;
        margin-top: 20%;
        position: fixed;
        z-index: 15;
        @media screen and (min-width: 1600px) {
          width: 50%;
        }
        @media screen and (min-width: 768px) and (max-width: 1080px) {
          width: 60%;
        }
        @media screen and (max-width: 767px) {
          width: 90%;
          left: 5%;
          margin-top: 30%;
        }

        &:after,
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          border-style: solid;
          border-width: $eh + 0px 0 0 $ew + 100px;
          border-color: $cn $cn $cn $eb;
          z-index: 4;
          filter: drop-shadow(0px 5px 6px black);

          @media screen and (min-width: 1600px) {
            border-width: $eh + 0px 0 0 $ew + 160px;
          }
          @media screen and (min-width: 768px) and (max-width: 1080px) {
            border-width: $eh + 0px 0 0 $ew + 8px;
          }
          @media screen and (max-width: 767px) {
            border-width: $eh + 0px 0 0 $ew + 50px;
          }
        }
        &:after {
          border-width: $eh + 0px $ew + 100px 0 0;
          border-color: $cn $er $cn $cn;
          filter: drop-shadow(0px 5px 6px black);

          @media screen and (min-width: 1600px) {
            border-width: $eh + 0px $ew + 160px 0 0;
          }
          @media screen and (min-width: 768px) and (max-width: 1080px) {
            border-width: $eh + 0px $ew + 8px 0 0;
          }
          @media screen and (max-width: 767px) {
            border-width: $eh + 0px $ew + 50px 0 0;
          }
        }

        .envelopeCap {
          position: absolute;
          left: 0;
          top: -70px;
          width: 100%;
          height: 70px;
          z-index: 6;
          background: $el;
          transition: 0.2s 0.2s ease-in;
          transform-origin: 50% 100% 0;
          transform: rotateX(180deg);
          filter: drop-shadow(0px -2px 6px black);

          &:after {
            content: "";
            border-style: solid;
            border-width: 0 $ew - 250px $eh - 250px $ew - 290px;
            border-color: $cn $cn $el $cn;
            position: absolute;
            left: 0;
            bottom: 100%;

            @media screen and (min-width: 1600px) {
              border-width: 0 $ew - 250px $eh - 220px $ew - 230px;
            }
            @media screen and (min-width: 768px) and (max-width: 1080px) {
              border-width: 0 $ew - 330px $eh - 280px $ew - 300px;
            }
            @media screen and (max-width: 767px) {
              border-width: 0 $ew - 300px $eh - 280px $ew - 290px;
            }
          }
        }
        .stamp {
          width: 10%;
          position: absolute;
          top: 45%;
          left: 42%;
          z-index: 7;
          transition: 0.2s ease-in;
          transition-delay: 0.2s;
          cursor: pointer;
          filter: drop-shadow(0px 2px 6px black);

          @media screen and (max-width: 1600px) {
            top: 48%;
            left: 46%;
          }

          @media screen and (min-width: 768px) and (max-width: 1080px) {
            left: 46%;
            top: 42%;
          }
          @media screen and (min-width: 767px) {
            left: 46%;
            top: 42%;
          }
        }
        .letterForm {
          border-radius: 5px;
          background: #fff;
          padding: 25px;
          width: 600px;
          height: 400px;
          position: absolute;
          left: 70px;
          bottom: 0%;
          z-index: 3;
          line-height: 2;
          transition: 0.2s ease-in;

          @media screen and (min-width: 1600px) {
            width: 650px;
          }
          @media screen and (min-width: 768px) and (max-width: 1080px) {
            width: 520px;
          }
          @media screen and (max-width: 767px) {
            width: 550px;
          }

          .close {
            position: relative;
            float: right;
            font-size: 25px;
            margin-top: -20px;
            cursor: pointer;
          }

          .letterTitle {
            font-weight: 500;
            text-align: center;
            color: black;
            text-transform: uppercase;
            z-index: 4;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;

            .Umbrella {
              position: relative;
              margin: 0 auto;
              width: 8%;
            }
            h2 {
              font-size: 20px;
              padding: 10px;
            }
          }
        }

        .contactForm {
          position: relative;
          width: 50%;
          margin: 0 auto;
          margin-top: -25px;
          font-weight: 600;
          padding: 20px;
          opacity: 0;
          text-align: center;

          .formControl {
            position: relative;
            display: flex;
            width: 100%;
            outline: none;
            padding: 5px 5px 5px 20px;
            font-size: 16px;
            background: transparent;
            border-radius: 1px;
            border: 2px solid gray;
            text-transform: capitalize;
            margin-bottom: 20px;
            z-index: 15;
          }

          .successful {
            opacity: 0;
          }

          .Btn {
            position: absolute;
            opacity: 0;
            padding: 5px;
            border: 2px solid gray;
            border-radius: 5px;
            left: 40%;
          }
          .BtnTwo {
            position: absolute;
            opacity: 0;
            padding: 5px;
            border: 2px solid gray;
            border-radius: 5px;
            left: 40%;
          }

          &.activeInfo {
            .formControl {
              display: none;
            }
            .BtnTwo {
              opacity: 1;
            }
            .Btn {
              display: none;
            }
            .successful {
              opacity: 1;
              p {
                text-transform: capitalize;
                font-size: 30px;
              }
            }
          }
        }
        &.activeForm {
          .contactForm {
            opacity: 1;
            z-index: 25;
            transition: all 2s ease-in-out;
            transition-delay: 0.2s;
          }
          .Btn {
            opacity: 1;
            transition: 0.9s ease-in;
            transition-delay: 0.5s;
            cursor: pointer;
          }
          .letterForm {
            bottom: $eh - 220px;
            transition: 0.2s 0.2s ease-in;
          }
          .envelopeCap {
            transform: rotateX(0deg);
            transition: 0.2s ease-in;
            z-index: 2;
          }
          .stamp {
            transform: rotateY(380deg);
            transition: 0.2s ease-in;
            z-index: 2;
          }
        }
      }
    }
  }
}
