$cn: rgba(0, 0, 0, 0);
$el: #a0b023;
$er: #a0b023;
$eb: #a0b023;
$ef: #a0b023;
$ew: 640px;
$eh: 420px;

.Wrapper {
  position: relative;
  width: 100%;
  background: #a0b023;
  padding-top: 50px;
  margin-top: 200px;
  padding-bottom: 250px;
  filter: drop-shadow(0px 0px 1px black);
  z-index: 9999999;

  .footerCap {
    position: relative;
    height: 0%;
    background: black;
    opacity: 1;

    &::after {
      content: "";
      border-style: solid;
      border-width: 0 $ew + -50px $eh + -300px $ew + 30px;
      border-color: $cn $cn $el $cn;
      position: absolute;
      bottom: 0%;
    }
  }
  .content {
    z-index: 2;
    position: relative;
    font-size: 16px;

    .Trees {
      position: absolute;
      left: -2%;
      top: -100%;
      z-index: -1;
    }

    .Section {
      justify-content: center;
      text-align: center;
      .innerContent {
        color: rgb(185, 175, 159);

        .Social {
          display: inline-flex;
          position: relative;
          left: -5%;
          margin-top: 50px;

          .Icons {
            margin-left: 10%;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            z-index: 2;
            transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            &:hover .tooltip {
              top: -55px;
              opacity: 1;
              pointer-events: auto;
              text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
            }
            &:hover span {
              color: #fff;
              text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
            }

            .tooltip {
              position: absolute;
              top: 0;
              z-index: 1;
              background: #fff;
              color: #fff;
              padding: 10px 18px;
              font-size: 15px;
              font-weight: 500;
              border-radius: 25px;
              opacity: 0;
              pointer-events: none;
              box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
              transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

              &:before {
                position: absolute;
                content: "";
                height: 15px;
                width: 15px;
                background: #fff;
                left: 50%;
                bottom: -6px;
                transform: translateX(-50%) rotate(45deg);
                transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
              }
            }

            span {
              display: block;
              height: 40px;
              width: 40px;
              background: #8ea120;
              border-radius: 50%;
              position: relative;
              z-index: 2;
              box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
              transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
              div {
                position: relative;
                a {
                  color: rgb(236, 201, 201);
                }
              }
              .facebook {
                width: 35%;
                left: 30%;
                top: 23%;
              }
              .twitter {
                width: 50%;
                left: 25%;
                top: 25%;
              }
              .instagram {
                width: 50%;
                left: 25%;
                top: 22%;
              }
              .github {
                width: 60%;
                left: 20%;
                top: 20%;
              }
              .youtube {
                width: 65%;
                left: 18%;
                top: 22%;
              }
            }

            &:nth-child(1) {
              &:hover span,
              .tooltip,
              .tooltip::before {
                background: #3b5999;
              }
            }
            &:nth-child(2) {
              &:hover span,
              .tooltip,
              .tooltip::before {
                background: #46c1f6;
              }
            }
            &:nth-child(3) {
              &:hover span,
              .tooltip,
              .tooltip::before {
                background: #e1306c;
              }
            }
            &:nth-child(4) {
              &:hover span,
              .tooltip,
              .tooltip::before {
                background: #333;
              }
            }
            &:nth-child(5) {
              &:hover span,
              .tooltip,
              .tooltip::before {
                background: #de463b;
              }
            }
          }
        }
        ul {
          justify-content: center;
          list-style: none;
          padding: 20px 10px 10px 10px;
          display: flex;
          a {
            text-transform: capitalize;
            padding: 15px;
            font-size: 30px;
            font-weight: 900;
            text-decoration: none;
            color: #a0b023;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
            &:hover {
              color: khaki;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .Wrapper {
    .footerCap {
      position: absolute;
      height: 0%;
      background: black;
      opacity: 1;

      &::after {
        content: "";
        border-style: solid;
        border-width: 0 $ew + -200px $eh + -300px $ew + -220px;
        border-color: $cn $cn $el $cn;
        position: absolute;
        bottom: 0%;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .Wrapper {
    .footerCap {
      position: absolute;
      height: 0%;
      background: black;
      opacity: 1;

      &::after {
        content: "";
        border-style: solid;
        border-width: 0 $ew + -350px $eh + -300px $ew + -350px;
        border-color: $cn $cn $el $cn;
        position: absolute;
        bottom: 0%;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .Wrapper {
    .footerCap {
      position: absolute;
      height: 0%;
      background: black;
      opacity: 1;

      &::after {
        content: "";
        border-style: solid;
        border-width: 0 $ew + -500px $eh + -300px $ew + -500px;
        border-color: $cn $cn $el $cn;
        position: absolute;
        bottom: 0%;
      }
    }
  }
}
