.aboutContant {
  width: 100%;
  padding-block: 70px;
  overflow: hidden;
  @media screen and (max-width: 480px) {
    padding-top: 50px;
    position: relative;
    margin-bottom: -90px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 50px;
    position: relative;
    margin-bottom: -90px;
  }
  @media screen and (min-width: 768px) and (max-width: 1080px) {
    padding-top: 50px;
  }
  .Cloud1 {
    position: absolute;
    width: 8%;
    left: 25%;
    animation: Moving 15s linear infinite;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  .Cloud2 {
    position: absolute;
    width: 10%;
    left: 60%;
    margin-top: -50px;
    animation: Moving 20s linear infinite;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  .Cloud3 {
    position: absolute;
    width: 15%;
    animation: Moving 10s linear infinite;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  .Cloud4 {
    position: absolute;
    width: 15%;
    right: 10%;
    animation: Moving 5s linear infinite;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  .Moving {
    animation: Moving 1s linear infinite;
    @media screen and (max-width: 480px) {
      display: none;
    }
    .Plane {
      position: absolute;
      width: 5%;
      left: -10%;
      animation: run 15s linear infinite;
      @media screen and (max-width: 1600px) {
        margin-top: -20px;
      }
    }
  }
  .wave {
    display: none;
    @media screen and (min-width: 768px) and (max-width: 1080px) {
      display: block;
      position: absolute;
      margin-top: 130px;
      z-index: 0;
      opacity: 0.9;
    }
    @media screen and (max-width: 767px) {
      display: block;
      position: relative;
      margin-top: 160px;
      z-index: 0;
      opacity: 0.9;
    }
    @media screen and (max-width: 480px) {
      display: block;
      position: relative;
      margin-top: 0px;
      z-index: 0;
      opacity: 0.9;
    }
  }
}

@keyframes Moving {
  100% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  0% {
    transform: translateY(-4px);
  }
}
@keyframes run {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2000px);
  }
}
