.herocontainer {
  height: 100vh;
  background-image: url(/home-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  margin-top: -95px;
  position: relative;
  z-index: 0;
  .contentcontainer {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    .left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .content {
        h1 {
          font-size: 90px;
          color: #fff;
          line-height: 1;
        }
        p {
          color: #fff;
          font-size: 20px;
        }
        @media (min-width: 1366px) and (max-width: 1919px) {
          h1 {
            font-size: 60px;
          }
          p {
            font-size: 18px;
          }
        }
      }
      .downloads {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
          padding-inline-end: 15px;
        }
      }
      .infobtns {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        margin-top: 80px;
        li {
          padding-inline-end: 20px;
          a {
            background: linear-gradient(
              90deg,
              #00aeef -24.16%,
              #0a99da 9.77%,
              #197bbc 67.95%,
              #1f70b0 100.63%
            );
            width: 200px;
            border-radius: 35px 35px 35px 35px;
            padding: 14px 10px;
            display: flex;
            align-items: center;
            color: #fff;
            svg {
              width: 33%;
            }
            span {
              width: 67%;
              font-weight: 700;
              line-height: 1.2;
              font-size: 17px;
            }
            @media (min-width: 1366px) and (max-width: 1919px) {
              width: 160px;
              padding: 8px 10px;
              border-radius: 30px 30px 30px 30px;
              color: #fff;
              svg {
                width: 42%;
              }
              span {
                width: 58%;
                font-weight: 700;
                line-height: 1.2;
                font-size: 16px;
              }
            }
          }
          &.ArrowRight {
            position: absolute;
            left: 0;
          }
          &:nth-child(2) {
            a {
              background: linear-gradient(90deg, #ffc60d 0%, #f69417 100%);
            }
          }
          &:nth-child(3) {
            a {
              background: linear-gradient(90deg, #8f278c 0%, #533b93 100%);
            }
          }
          &:nth-child(4) {
            a {
              background: linear-gradient(90deg, #00aeef 0%, #1f70b0 100%);
            }
          }
        }
      }
    }
    .right {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
