html,
body {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  background: linear-gradient(to left, #6b90ff, #156f75);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
